/*
这个是页面设计的CSS
*/
body,div,h1,h2,h3,h4,h5,h6,table,tr,th,td,ol,ul,li,dl,dt,dd,form,p {
	padding:0px;
	margin:0px;
	outline:none;
}

table {
	empty-cells:show;
}
ul {
	list-style:none;
}

img {
	vertical-align:top;
	border:0;
}
input[type=submit]::-moz-focus-inner,input[type=button]::-moz-focus-inner {
	border:0;
	padding:0;
}

/*基础*/
body {
	font-size:16px;
	font-family:微软雅黑,Arial;
	color:#323232;
	max-width:980px!important;
	width:auto!important;
	width:980px;
	padding:0 12px;
	margin:0 auto;
}
select,input,textarea {
	outline:none;
	font-family:Century Gothic,\5FAE\8F6F\96C5\9ED1,\5E7C\5706,Arial,Verdana;
	font-size:16px;
	color:#323232
}
textarea {
	resize:none;
	overflow:auto;
}
a {
	text-decoration:none;
	color:#007DDB;
}
a:hover {
	color:#FFFFFF;
	background-color:#007DDB;
	text-decoration:none;
	border-radius: 1px;
}
h1{
	word-wrap: break-word;
	font-size: 25px;
	color: #494949;
	padding: 15px 0 15px 30px;
}

/*
布局
*/

/*顶部导航布局*/
#top_nav {

	width:100%;
	height:40px;
	line-height:40px;
 	position:fixed!important;
	position:absolute; 
	top:0;
	left:0;
	border-bottom:1px dashed silver;
/* 	background-color:#FFFFFF; */
}
#top_nav .bd{
	width:980px;
	text-align:center;
	margin:0 auto;
}
.top_nav_info{
	float:right;

}
.top_nav_items{
	float:left;
}

.page{
	width:100%;
	height:30px;
	padding:15px 0 15px 0;
	float:left;
	clear:both;
	text-align:center;
}
.page span{
	margin:0 5px 0 5px; 
}
.page span span,.page span a {
	margin:0 5px 0 5px; 
}

/*
页面主体布局
*/
#wrapper{
	margin-top:60px;
}
/*header*/
#header{
	width: 100%;
	height: 40px;
	clear: both;
	float: left;
}
.site_logo{
	float:left;
}
.search{
	float:right;
}

.site_nav_items{
	margin-top:20px;
}
/*content*/
#content{
	padding-top:20px;
	padding-bottom:260px;
	clear:both;
	width:100%;
}
#content .main{
	width:640px;
	float:left;

}

/*
footer
*/
#footer{
	margin-top:30px;
	width:100%;
	clear:both;
	border-top:1px dashed silver
}
#footer .fright{
	float:right;
}

/*登陆和注册页面*/

input[type=submit]{
	color: white;
	background: #007DDB;
	border: 1px solid #007DDD;
	cursor: pointer;
	border-radius: 2px;
}
.tips{
	margin-left:6px;
	color:#CCCCCC
}
#register form span.input,#login form span.input{
	float:left;
	clear:both;
	margin-top:20px;
}

/*小组浏览页面*/

.gclass_check{
	width:100%;
	padding-bottom:20px;
	float:left;
}
.gclass_check .g_gclass_name{

	width:80px;
	word-break:keep-all;/* 不换行 */
	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
	float:left;
	
}
.group_list_bygclass{
	width:100%;
}
.group_list_bygclass .group_list{
	width:320px;
	height:60px;
	float:left;
	padding:15px 0 15px 0;
	border-top:1px dashed #CCCCCC;
}
.group_list .group_icon{
	width:55px;
	height:55px;
	float:left;
	clear:both;
}
.group_list .name_about{
	width:250px;
	height:60px;
	float:left;
}
.name_about .group_name{
	width:250px;
	word-break:keep-all;/* 不换行 */
	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
	
}
.name_about .group_about{
	height:50px;
	font-size:14px;
	color:#AAAAAA;
}

/*
	小组首页
*/
#group_info .group_icon,#group_info .group_name{
	float:left;
}
#group_info .group_name{
	word-wrap: break-word;
	font-size: 20px;
	color: #494949;
	padding: 15px 0 0 5px;
}
#group_info #join a{
	color:#FFFFFF;
	margin-top:20px;
	float:right;
	background-color:#D2691E;
	margin-right:10px;
	border-radius: 3px;
	padding:0 8px 0 8px ;
}
#group_info #join a:hover{
	
	color:#FFFFFF;
	margin-top:20px;
	float:right;
	background-color:#D2691E;
	margin-right:10px;
	border-radius: 3px;
	padding:0 8px 0 8px ;
}

#group_about {
	font-size:14px;
	float:left;
	clear:both;
	width:97%;
	word-wrap: break-word;
	padding: 4px 9px;
	background: #FFF6ED;
	border: 1px solid #AAAAAA;
	border-width: 1px;
	border-radius: 4px;
}
#group_about .top,#group_about .about{
	margin-top:20px;
}

/*帖子列表的样式*/
#topic_list {
	width:100%;
	float:left;
	padding:20px 0 20px 0;
}
#topic_list .topic{
	width:100%;
	border-bottom:dashed #CCCCCC 1px;
	float:left;
	clear:both;
	padding:2px 0 2px 0;
}
#topic_list .topic .title{
	width:360px;
	float:left;
}
#topic_list .topic div a{
	width:100%;
	float:left;
	word-break:keep-all;/* 不换行 */
	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/

}
#topic_list .topic .author{
	padding-left:8px;
	width:130px;
	float:left;
}

#topic_list .topic .retopic{
	padding-left:8px;
	width:35px;
	float:left;
}
#topic_list .topic .date{
	padding-left:8px;
	width:65px;
	float:left;

}

